@keyframes colorchange
    {
      0%   {background: #FF72C0;}
      25%  {background: #FFD400;}
      50%  {background: #4AFF9F;}
      75%  {background: #24E9F6;}
      100% {background: #FF72C0;}
    }

@-webkit-keyframes colorchange
    {
      0%   {background: #FF72C0;}
      25%  {background: #FFD400;}
      50%  {background: #4AFF9F;}
      75%  {background: #24E9F6;}
      100% {background: #FF72C0;}
    }

html {
    animation: colorchange 60s infinite;
    -webkit-animation: colorchange 60s infinite;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #3D3D3D;
    color: rgb(43, 43, 43);
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.page-content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.logo {
    height: 5rem;
    padding-top: 20px;
    padding-left: 20px;
}
h1 {
    font-size: 60px;
    text-align: center;   
}
.video {
    width: 1000px;
    min-height: 500px;
}